.main {
    margin-top: -19px;
}

.categoryTile {
    height: 300px;

    margin: 18px 19px;
    background-size: cover !important;
    max-width: 205px;
    border: 1px solid black;
    border-radius: 7px;
}

.categoryTileTitle{
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.64);
    padding-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;

}
.wallpaperTile {
    height: 281px;
    background: green;
    margin: 18px 2px;
    background-size: cover !important;
    max-width: 375px;
    width: 375px;

}
.wallpaperTileTitle{
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.64);
    padding-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;

}

.categoryTile:hover{
    background: #4c4c4c;
    transition-duration: 500ms;
}

